<div class="related-products">
  <div class="container">
    <h2>{{settings.related_products_title}}</h2>
	<div class="product-carousel slick-pending">
      {% assign showed = 0 %}
      {% if currentProduct.metafields.custom_fields["custom_related_products"] != blank %}
        {% assign relatedHandle = currentProduct.metafields.custom_fields["custom_related_products"] %}
      	{% assign relatedCollection = collections[relatedHandle] %}
      {% else %}
      	{% assign relatedCollection = currentProduct.collections.first %}
      {% endif %}
      {% for relprod in relatedCollection.products %}
      	{% if relprod.available %}
          {% if showed < 10 and relprod.handle != product.handle %}
            {% unless relprod.handle contains 'sample-pack' and product.handle contains 'trial-pack' %} {% comment %}prevent showing the product "Sample Pack" in the "Trial Pack" PDP{% endcomment %}
          	  {% include 'product_item', currentProduct: relprod, quickview: false, collection: relatedCollection, isCarousel: true %}
              {% assign showed = showed | plus: 1 %}
            {% endunless %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.product-carousel').slick({
          autoplay: false,
          speed: 700,
      	  slidesToShow: 4,
      	  pauseOnHover: false,
          slidesToScroll: 1,
          prevArrow: '<i class="lnr lnr-chevron-left left-arrow animation"></i>',
      	  nextArrow: '<i class="lnr lnr-chevron-right right-arrow animation"></i>',
          responsive: [
            {
                breakpoint: 600,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1,
                }
            },
		       {
            	breakpoint: 900,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 2
                }
            }
          ]
     });
  });
</script>