{% schema %}
  {
    "name": "Line",
  "presets": [
      { 
        "name": "Line",
        "category": "Home"
      }
  ],
    "settings": [
      {
        "type": "color",
        "id": "color",
        "label": "Line Color",
        "default": "#B0B0B0"
      },
    {
        "type": "text",
        "id": "height",
        "label": "Line Height",
		"default": "1px"
      }
  ]
  }
{% endschema %}

<style>
  .line-section{padding:0 0 1.5em!important;max-width: 95%;}
  .line-section .line{background-color: {{section.settings.color}};height:{{section.settings.height}};}
</style>

<section class="line-section container">
  <div class="line"></div>
</section>