<div class="hide">
    <div id="utility-bar-titles">
        {% for block in section.blocks %}
            <div class="flex justify-content-center align-items-center">
                {% if block.settings.url != blank %}
                    <a href="{{ block.settings.url }}" {% if block.settings.open_new_tab == true %} target="_blank" {% endif %}>
                {% else %}
                    <div class="utility-text">
                {% endif %}

                {{ block.settings.title }}

                {% if block.settings.url != blank %}
                    </a>
                {% else %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "Utility Bar Titles",
    "presets":[
      {
         "name":"Utility Bar Titles"
      }
    ],
    "blocks": [
        {
            "type": "title",
            "name": "Title",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title Text",
                    "default": "Lorem Ipsum"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "URL"
                },
                {
                    "type": "checkbox",
                    "id": "open_new_tab",
                    "label": "Open link in a new tab?",
                    "default": false
                }
            ]
        }
    ]
}
{% endschema %}