<div class="page contact container">

  <h1>Contact Us</h1>

  <div class="form">

    {% form 'contact' %}

    {% if form.posted_successfully? %}
    <p class="success-msg">Thanks for contacting us! We'll get back to you as soon as possible.</p>
    {% endif %}

    {% if form.errors %}
    <div class="error-msg">
      <ul class="error-list">
        {% for field in form.errors %}
        {% if field == 'body' %}
        <li>Your message cannot be blank.</li>
        {% endif %}
        {% if field == 'email' %}
        <li>Please enter a valid email address.</li>
        {% endif %}        
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <input type="hidden" id="section" name="contact[section]" value="Contact" />
    <div id="contact-form">
      <input placeholder="Name" type="text" id="name" class="name" name="contact[name]" />
      <input placeholder="Email" type="email" id="email" class="email  {% if form.errors contains 'email' %} error{% endif %}" name="contact[email]" />
      <input placeholder="Phone" type="phone" id="phone" class="phone {% if form.errors contains 'phone' %} error{% endif %}" name="contact[phone]" />
      <textarea placeholder="Message" id="message" class="message {% if form.errors contains 'body' %} error{% endif %}" name="contact[body]"></textarea>
      <input type="submit" class="submit btn" value="Send" />
    </div>
    {% endform %}
  </div>

</div><!-- /#col-main -->