{% render 'shogun-products', content: page %}
<div class="page-who-we-are">
  {% section 'who_we_are_page_section_1' %}
  {% section 'who_we_are_page_separator' %}
  {% section 'who_we_are_page_img_txt' %}
</div>
